.container {
  display: flex;
  gap: 20px;
  width: 30%;

  .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    justify-content: center;

    h2 {
      font-size: 20px;
    }
  }
  img {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }
}
